body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}
h1 {
  color: #444;
}
a {
  color: #4a90e2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1rem;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem;
  background-clip: padding-box;
}


.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}